/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Hide Scroll Bar */
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
}
::-webkit-scrollbar-track{
    border-radius: 0;
    box-shadow: inset 0 0 0 0 #F0F0F0;
}

/* Define variables */
:root {
    --bg-color: rgb(40,40,40);
    --text-color: rgb(169,183,193);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background: var(--bg-color);
    height: 100%;
    overflow-y: hidden;
}

#cover {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 100vh
}

h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    width: max-content;
}

.subtitle {
    font-size: 2rem;
    font-weight: 400;
}

#cover-buttons {
    position: fixed;
    text-align: center;
}

#cover-buttons > div > input {
    margin: 0 50px ;
    text-align: center;
}

.hidden-buttons {
    visibility: hidden;
    margin-top: 75px;
}

.showed-buttons {
    animation: 3s showButtons ease-out;
    margin-top: 50px;
}

p {
    font-size: 1.2em;
}

@keyframes showButtons {
    0% {
        opacity: 0;
        margin-top: 75px;
    }
    100% {
        opacity: 1;
        margin-top: 50px;
    }
}